@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --accent: #1C91FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}

/* Hide the default checkmark */
.rt-CheckboxCardCheckbox{
  display: none !important;
}
/* Add a custom selected state style */ 
.rt-CheckboxCardsItem[data-state="checked"] {
  outline: 1px solid var(--accent) !important;
}

.rt-CheckboxCardsItem {
  padding-right: 16px !important;
}

.rt-Box.h-\[45px\].px-2.py-1.bg-white.rounded-\[4px\] {
  outline: 1px solid var(--accent);
}